#greeting {
  padding-top: 25%;
  font-family: 'Abhaya Libre';
  font-size: 60px;
}

html {
}

#header {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#greetings-container {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-left: 15%;
  padding-right: 5%;
  padding-top: 180px;
  color: #2C2E34;
}

.greetings {
  transition: opacity 0.6s ease-in-out;
}

#introduction-container {
  width: auto;
}

#introduction {
  font-family: 'Abhaya Libre';
  width: 450px;
  color: #4f4f4f;
}

#menu-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 210px;
  padding-right: 15%;
  padding-left: 5%;
  padding-bottom: 180px;
  align-items: flex-end;
}

.menu-options {
  text-align: right;
  font-family: 'Aboreto';
  font-size: 25px;
  display: inline-block;
  margin-bottom: 30px;
  color: #4f4f4f;
  padding-right: 10px;
  border-right: 1px solid rgba(44,46,52,0);
}

.menu-options:hover {
  color: #2C2E34;
  cursor: pointer;
  border-right: 1px solid #2C2E34;
}

#my-name {
  border-bottom: 1px solid #2C2E34;
}

