* {
  box-sizing: border-box;
}

a {
  color: #909ea1;
  text-decoration: none;
}

.header {
  padding: 15px;
  background-color: #394455;
}

.main-title {
  padding-left: 7px;
  color: #b2c0c3;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  display: inline;
  word-spacing: -0.3em;
}

.sub-title {  
  padding-left: 12px;
  color: #899496;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  display: inline;
  word-spacing: -0.2em;
}

h2 {
  font-weight: lighter;
}

body {
  margin: 0;
  background-color: #485663;
  
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}