.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

@media (min-width: 300px) {
  #photography-section {
    background-image: linear-gradient(to bottom, transparent, transparent 80%, #ab9472);
    display: flex;
    justify-content: center;
    height: 1900px;
  }
}

@media (min-width: 1400px) {
  #photography-section {
    padding: 0px 150px;
    background-image: linear-gradient(to bottom, transparent, transparent 80%, #ab9472);
    display: inline-block;
    justify-content: center;
    height: 1800px;
  }
}

@media (min-width: 300px) {
  #images-container {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
}

@media (min-width: 1400px) {
  #images-container {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1100px;
    gap: 0px;
  }
}

.images {
  border: 2px solid black;
}

#first-stack {
  display: flex;
  gap: 20px;
}

#second-stack {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
}

#third-stack {
  display: flex;
  gap: 20px;
}

#photography-description a {
  color: rgba(42,66,84,0.8);
}

@media (min-width: 300px) {
  #vietnam-quiz-demo {
    width: 50%;
    border-radius: 0px;
  }
}

@media (min-width: 1400px) {
  #vietnam-quiz-demo {
    width: 50%;
    border-radius: 25px;
  }
}

@media (min-width: 300px) {
  #first-image {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  #first-image {
    width: 520px;
    position: relative;
    left: -14px;
  }
}

@media (min-width: 300px) {
  #second-image {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  #second-image {
    width: 100%;
    width: 545px;
    position: relative;
    right: -13px;
  }
}

@media (min-width: 300px) {
  #third-image {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  #third-image {
    height: 320px;
    width: auto;
    position: relative;
    top: 20px;
    left: -9px;
  }
}

@media (min-width: 300px) {
  #fourth-image {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  #fourth-image {
    height: 400px;
    width: auto;
    position: relative;
    top: 20px;
    right: -7px;
  }
}

@media (min-width: 300px) {
  #fifth-image {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  #fifth-image {
    width: auto;
    height: 700px;
    position: relative;
    top: -40px;
    left: -14px;
  }
}

@media (min-width: 300px) {
  #sixth-image {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  #sixth-image {
    width: auto;
    height: 400px;
    position: relative;
    right: -13px;
    top: 40px;
  }
}

@media (min-width: 300px) {
  #seventh-image {
    height: 400px;
    position: relative;
    top: -235px;
    right: -472px;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  #seventh-image {
    width: auto;
    height: 400px;
    position: relative;
    top: -235px;
    right: -472px;
  }
}

@media (min-width: 300px) {
  #photography-description {
    width: 100%;
    font-size: 15px;
    font-family: 'Abhaya Libre';
    color: rgba(42,66,84,0.8);
  }
}

@media (min-width: 1400px) {
  #photography-description {
    position: relative;
    left: -619px;
    top: -20px;
    width: 450px;
    height: 185px;
    font-size: 18px;
    font-family: 'Abhaya Libre';
    color: rgba(42,66,84,0.8);
  }
}

@media (min-width: 1400px) {
  #footer-logo {
    height: 100%;
    width: 55px;
    opacity: 0.7;
  }
}

@media (min-width: 300px) {
  #footer-logo {
    height: 100%;
    width: 50px;
    opacity: 0.7;
  }
}

