.dynamic-gradient {
  background: linear-gradient(167deg, #a7a795, #bda880, #b6ac8c, #acab8c, #bca073, #939d9c);
  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 43% 0%;
  }
  50% {
    background-position: 58% 100%;
  }
  100% {
    background-position: 43% 0%;
  }
}

#scroll-button-container {
  height: 30vh;
  display: flex;
  justify-content: center;
}

#scroll-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#scroll {
  width: 40px;
  height: 70px;
  border: 2px solid rgba(42,66,84,0.8);
  border-radius: 60px;
  position: relative;
}

#scroll:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(42,66,84,0.8);
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 45px;
  }
}

#logo-image {
  position: absolute;
  width: 65px;
  height: 70px;
  left: 30px;
  top: 20px;
  opacity: 75%;
  transition: transform 0.1s linear;
}

#greetings-subcontainer {
  display: flex;
  flex-direction: column;
}

.menu-options::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: rgba(50,78,101,0.8);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menu-options:hover::after {
  transform: scaleX(1);
}

#header-container {
  height: 100vh;
}

#greetings {
  text-align: center;
  font-size: 70px;
  color: rgba(42,66,84,0.8);
}

a {
  text-decoration: none;
}

#about-section {
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 100px;
  display: flex;
}

#about-subsection {
  width: 50%;
}

#profile-picture {
  width: 320px;
  height: 320px;
  border-radius: 30px;
}

#profile-picture-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: end;
}

#profile-picture-subcontainer {
  display: inline-block;
  border-radius: 40px;
  border: 10px solid rgba(255,255,255,0.5);
  width: 340px;
  height: 340px;
}

#basic-information {
  display: flex;
  flex-direction: column;
  font-family: 'Abhaya Libre';
  font-size: 20px;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.basic-info {
  font-family: 'Abhaya Libre';
  font-weight: 900;
}

.my-project {
  font-family: 'Abril Fatface';
  font-size: 50px;
  color: rgba(42,66,84,0.8);
  padding-left: 20px;
}

.project-container {
  padding-left: 150px;
  padding-bottom: 100px;
  padding-right: 150px;
}

.project-subcontainer {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 2px solid rgba(42,66,84,0.8);
}

.project-number {
  font-size: 40px;
  font-family: 'Abril Fatface';
  color: rgba(42,66,84,0.8);
}

.title-container {
  display: flex;
}

.project-number {
  display: flex;
  height: 100%;
  width: 75px;
  align-items: center;
  justify-content: center;
  border-right: 5px solid rgba(42,66,84,0.8);
  border-bottom: 5px solid rgba(42,66,84,0.8);
  border-top: 2px solid rgba(42,66,84,0.8);
  border-left: 2px solid rgba(42,66,84,0.8);
}

.description-paragraph {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  font-size: 19px;
  width: 50%;
  margin-bottom: 0;
  font-family: 'Abhaya Libre';
  color: rgba(42,66,84,0.8);
}

.description-container {
  display: flex;
}

#realtorest-demo {
  height: auto;
  width: 50%;
  border-radius: 15px;
}

#kirakou-demo {
  width: 50%;
  height: auto;
  border-radius: 15px;
}

#kirakou-description {
  display: flex;
  /*flex-direction: column;*/
}

