#greeting {
  padding-top: 25%;
  font-family: 'Abhaya Libre';
  font-size: 60px;
}

#header {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

#greetings-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgba(42,66,84,0.8);
  align-items: center;
}

.greetings {
  transition: opacity 0.6s ease-in-out;
  font-family: 'Abril Fatface';
}

#introduction-container {
  width: auto;
}

#introduction {
  font-family: 'Abhaya Libre';
  color: rgba(42,66,84,0.8);
  padding-top: 10px;
  padding-right: 60px;
  margin-bottom: 0px;
  border-right: 2px dashed rgba(42,66,84,0.8);
}

#menu-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.menu-options {
  text-align: right;
  display: inline-block;
  color: rgba(50,78,101,0.8);
  font-size: 30px;
  font-family: 'Abhaya Libre';
  font-weight: normal;
  position: relative;
  cursor: pointer;
}

#my-name {
  font-size: 90px;
  padding-top: 60%;
}

