#greeting {
  padding-top: 25%;
  font-family: 'Abhaya Libre';
  font-size: 60px;
}

#header {
  height: 70vh;
  display: flex;
  flex-direction: row;
}

#greetings-container {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 11%;
  color: rgba(42,66,84,0.8);
}

.greetings {
  transition: opacity 0.6s ease-in-out;
}

#introduction-container {
  width: auto;
}

#introduction {
  font-family: 'Abhaya Libre';
  width: 450px;
  color: rgba(42,66,84,0.8);
}

#menu-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 14%;
  padding-right: 15%;
  padding-left: 5%;
  padding-bottom: 15%;
  align-items: flex-end;
}

.menu-options {
  text-align: right;
  display: inline-block;
  padding: 0px 10px;
  margin-bottom: 35px;
  color: rgba(50,78,101,0.8);
  border-right: 2px solid rgba(42,66,84,0);
  font-size: 35px;
  font-weight: lighter;
  font-family: 'Abril Fatface';
}

.menu-options:hover {
  color: rgba(29,46,59,0.8);
  cursor: pointer;
  border-right: 2px solid rgba(42,66,84,0.8);
  font-weight: 400;
}

#my-name {
  border-bottom: 1px solid rgba(42,66,84,0.8);
}

