.resume__container {
  padding-top: 30px;
}

/* === Title Block === */
.resume__container-title {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-left: 80px;
}

.resume-title {
  font-size: clamp(1.25rem, 2.5vw, 25px);
  color: #fff;
}

.resume-title-comment {
  font-size: clamp(0.9rem, 2vw, 19px);
  color: hsla(0, 0%, 100%, 0.5);
}

/* === Content Section === */
.resume__container-content {
  display: flex;
  padding: 50px 80px;
}

.resume__container-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  color: hsla(0, 0%, 100%, 0.5);
  letter-spacing: 0.5px;
  line-height: 1.75;
}

.resume__container-content-right {
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
}

.resume-image {
  width: 70%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
}

.resume__container-pfp {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 2px solid hsla(0, 0%, 100%, 0.3);
}


/* === Button === */
.resume__container-content-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  font-size: 17px;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.resume__container-content-button:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  cursor: pointer;
}

.resume__container-content-button-link {
  color: white;
  text-decoration: none;
}

.resume__container-pfp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.resume__container-pfp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid hsla(0, 0%, 100%, 0.3);
}

/* === Mobile Layout === */
@media screen and (max-width: 430px) {
  .resume__container-title {
    margin-left: 20px;
  }

  .resume-title {
    font-size: 18px;
  }

  .resume-title-comment {
    font-size: 15px;
  }

  .resume__container-content {
    flex-direction: column;
    padding: 20px 20px 30px;
  }

  .resume__container-content-left {
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
  }

  .resume__container-content-right {
    width: 100%;
    padding-top: 25px;
  }

  .resume-image {
    width: 100%;
  }

  .resume__container-content-button {
    font-size: 12px;
    padding: 10px 15px;
    width: 50%;
  }
  .resume__container-pfp-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .resume__container-pfp {
    width: 100px;
    height: 100px;
  }
}
