.projects {
    width: auto;
    position: relative;
    border-top: none;
    border-bottom: none;
    padding-top: 30px;
}

.projects_container{
    font-size: 25px;
    color: #fff;
    margin-left: 80px;
    display: flex;
    align-items:baseline;
    gap: 10px;
}

.projects_title-comments {
    font-size: 19px;
    color: hsla(0, 0%, 100%, 0.5);
}

.projects_line {
    width: 320px;
    color: #fff;
    margin-top: 20px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    border-bottom: #fff 0.5px solid;
}

.projects_tuple {
    padding: 50px 80px 50px 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}