.roboto-slab-extra-light {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.roboto-slab-light {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.introduction_container {
    height: 100dvh;
    width: auto;
    overflow: hidden;
    position: relative;
    border-bottom: none;
}
.introduction_title {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 70px;
    left: 80px;
    display: flex;
    align-items:baseline;
    gap: 10px;
}
.introduction_title-job {
    font-size: 19px;
    color: hsla(0, 0%, 100%, 0.5);
}
.introduction_line {
    width: 325px;
    color: #fff;
    position: absolute;
    top: 120px;
    left: 80px;
    display: flex;
    justify-content: center;
    border-bottom: hsla(0, 0%, 100%, 0.3) 1px solid;
}
.introduction_description {
    width: 650px;
    color: hsla(0, 0%, 100%, 0.5);
    position: absolute;
    top: 150px;
    left: 80px;
    letter-spacing: 0.5px;
    line-height: 1.75;
    font-size: 16px;
}
.introduction_menu-list {
    list-style-type: none;
    font-weight: 700;
    color: #fff;
    margin-top: auto;
    position: absolute;
    bottom: 80px;
    left: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    letter-spacing: 2px;
    font-size: 16px;
}
.introduction_menu-item {
    cursor: pointer;
    position: relative;
}
.introduction_menu-item {
    padding: 5px 0;
}
.introduction_menu-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease-out;
    -webkit-transition: width 0.3s ease-out;
}

.introduction_menu-item:hover::before {
    width: 100%;
}

.introduction_menu-social {
    display: flex;
    gap: 25px;
    font-size: 22px;
}
.introduction_menu-social-icon {
    cursor: pointer;
    color: #fff;
}
.introduction_menu-social-icon:hover {
    color: #e5e5e5;
}
.introduction_menu-social-icon:active {
    color: #d5d5d5;
}

@media screen and (max-width: 430px) {
  .introduction_container {
      height: 100dvh;
  }
  .introduction_title {
      font-size: 18px;
      left: 20px;
  }
  .introduction_title-job {
      font-size: 15px;
  }
  .introduction_line,
  .introduction_description {
      width: calc(100% - 40px);
      left: 20px;
  }
  .introduction_menu-list {
      left: 20px;
  }
  .introduction_description p {
      font-size: 12px;
  }
  .introduction_menu-list li {
      font-size: 12px;
  }
}

@media (max-width: 1400px) {
  .introduction_description, .introduction_menu-list {
    font-size: 14px;
  }
}