.roboto-slab-extra-light {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.roboto-slab-light {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.introduction_container {
    height: 100vh;
    width: auto;
    overflow: hidden;
    position: relative;
    border-top: rgba(195, 225, 255, 0.9) 10px solid;
    border-left: rgba(195, 225, 255, 0.9) 10px solid;
    border-bottom: none;
    border-right: rgba(195, 225, 255, 0.9) 10px solid;
}
.introduction_title {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 70px;
    left: 80px;
    display: flex;
    align-items:baseline;
    gap: 10px;
}
.introduction_title-job {
    font-size: 19px;
    color: hsla(0, 0%, 100%, 0.5);
}
.introduction_line {
    width: 325px;
    color: #fff;
    position: absolute;
    top: 120px;
    left: 80px;
    display: flex;
    justify-content: center;
    border-bottom: #fff 0.5px solid;
}
.introduction_description {
    width: 650px;
    color: hsla(0, 0%, 100%, 0.5);
    position: absolute;
    top: 140px;
    left: 80px;
    letter-spacing: 0.5px;
    line-height: 1.75;
}
.introduction_menu-list {
    list-style-type: none;
    font-weight: 700;
    color: #fff;
    margin-top: auto;
    position: absolute;
    bottom: 100px;
    left: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    letter-spacing: 2px;
}
.introduction_menu-item {
    cursor: pointer;
    position: relative;
}
.introduction_menu-item {
    padding: 5px 0;
}
.introduction_menu-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease-out;
}

.introduction_menu-item:hover::before {
    width: 100%;
}

@media (max-width: 650px) {
    .introduction_container {
        border-top: rgba(195, 225, 255, 0.9) 5px solid;
        border-left: rgba(195, 225, 255, 0.9) 5px solid;
        border-bottom: none;
        border-right: rgba(195, 225, 255, 0.9) 5px solid;
    }
    .introduction_title {
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 50px;
        left: 30px;
        display: flex;
        align-items: baseline;
        gap: 10px;
    }
    .introduction_title-job {
        font-size: 16px;
        color: hsla(0, 0%, 100%, 0.5);
    }
    .introduction_line {
        width: 325px;
        color: #fff;
        position: absolute;
        top: 100px;
        left: 30px;
        display: flex;
        justify-content: center;
        border-bottom: #fff 0.2px solid;
    }
    .introduction_description {
        width: 325px;
        color: hsla(0, 0%, 100%, 0.5);
        position: absolute;
        top: 120px;
        left: 30px;
        letter-spacing: 0.5px;
        line-height: 1.75;
        font-size: 12px;
    }
    .introduction_menu-list {
        bottom: 100px;
        left: 30px;
        font-size: 12px;
    }
}