.introduction_container {
    height: 100dvh;
    width: auto;
    overflow: hidden;
    position: relative;
    border-bottom: none;
}
.introduction_title {
    font-size: 34px;
    color: #fff;
    position: absolute;
    top: 50px;
    left: 80px;
    display: flex;
    align-items:baseline;
    gap: 10px;
}
.introduction_title-job {
    font-size: 20px;
    color: hsla(0, 0%, 100%, 0.5);
}
.introduction_line {
    width: 325px;
    color: #fff;
    position: absolute;
    top: 120px;
    left: 80px;
    display: flex;
    justify-content: center;
    border-bottom: hsla(0, 0%, 100%, 0.3) 1px solid;
}
.introduction_description {
    width: 650px;
    color: hsla(0, 0%, 100%, 0.5);
    position: absolute;
    top: 140px;
    left: 80px;
    letter-spacing: 0.5px;
    line-height: 1.75;
    font-size: 18px;
}
.introduction_menu-list {
    list-style-type: none;
    font-weight: 700;
    color: #fff;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    letter-spacing: 2px;
    font-size: 18px;
}
.introduction_menu-item {
    cursor: pointer;
    position: relative;
}
.introduction_menu-item {
    padding: 5px 0;
}
.introduction_menu-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s ease-out;
    -webkit-transition: width 0.3s ease-out;
}

.introduction_menu-item:hover::before {
    width: 100%;
}

.introduction_menu-social {
    display: flex;
    gap: 25px;
    font-size: 22px;
}
.introduction_menu-social-icon {
    cursor: pointer;
    color: #fff;
}
.introduction_menu-social-icon:hover {
    color: #e5e5e5;
}
.introduction_menu-social-icon:active {
    color: #d5d5d5;
}

@media (max-width: 1400px) {
  .introduction_description {
    top: 125px;
  }
  .introduction_line {
    top: 110px;
  }
  .introduction_description, .introduction_menu-list {
    font-size: 18px;
  }
  .introduction_menu-list {
    margin-top: 50px;
  }
  .introduction_title {
    font-size: 30px;
    top: 55px;
  }
}

@media screen and (max-width: 430px) {
  .introduction_container {
      height: 100vh;
  }
  .introduction_title {
      left: 20px;
      top: 30px;
  }
  .introduction_title-name {
      font-size: 25px;
  }
  .introduction_title-job {
      font-size: 15px;
  }
  .introduction_line {
      top: 85px;
  }
  .introduction_description {
      top: 100px;
  }
  .introduction_line,
  .introduction_description {
      width: calc(100% - 40px);
      left: 20px;
  }
  .introduction_menu-list {
      left: 20px;
      gap: 18px;
      bottom: 100px;
      margin-top: 50px;
  }
  .introduction_description p {
      font-size: 14px;
      line-height: 1.65;
  }
  .introduction_menu-list li {
      font-size: 14px;
  }
}